/* Use a custom font */
@font-face {
    font-family: Readex_Pro;
    src: url(../fonts/ReadexPro-VariableFont_wght.ttf);
}

* {
    font-family: Readex_Pro;
}

body {
    background-color: lightgray;
    max-width: 500px;
    margin: auto;
    padding-top: 200px;
}

.button {
    background-color: darkblue;
    border: none;
    color: lightgray;
    /* padding: 15px 32px; */
    /* border-radius: 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}