/* Use a custom font */
@font-face {
    font-family: Readex_Pro;
    src: url(../fonts/ReadexPro-VariableFont_wght.ttf);
}

* {
    font-family: Readex_Pro;
}

body {
    background-color: lightgray;
    max-width: 500px;
    margin: auto;
    padding-top: 200px;
}

.button {
    background-color: darkblue;
    border: none;
    color: lightgray;
    /* padding: 15px 32px; */
    /* border-radius: 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8, #question9 {
    display: none;
}

#question1next, #question2next, #question3next, #question4next, #question5next, #question6next, #question7next, #question8next {
    display: none;
}

#feedbackText {
    font-style: italic;
}