@font-face {
    font-family: Readex_Pro;
    src: url(../fonts/ReadexPro-VariableFont_wght.ttf);
}

* {
    font-family: Readex_Pro;
}

#title {
    margin-bottom: 0;
}

#subtitle {
    margin-top: 0;
}

body {
    background-color: LightGray;
    max-width: 500px;
    margin: auto;
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    background-color: DarkBlue;
    border: none;
    color: LightGray;
    /* padding: 15px 32px; */
    /* border-radius: 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* this is the textbox input for user's initials */
#initials {
    background-color: LightGray;
    border: none;
}

/* we hide most of the page content by default and only
   show what is required based on user input */
#question1, #question2, #question3, #question4,
#question5, #question6, #question7, #question8,
#question9, #summary, #highscores, #question1next,
#question2next, #question3next, #question4next,
#question5next, #question6next, #question7next,
#question8next, #summarynext {
    display: none;
}

#feedbackText {
    font-style: italic;
}